{% extends "base.html" %}
{% load tailwind_filters %}
{% load static %}


{% block content %}
<div class="flex flex-col item-start justify-start w-full px-10">
    <h1 class="text-black text-left font-900 text-3xl">{{post.title|upper}}</h1>
    <div class="flex justify-start item-center gap-3 mt-3 mb-3 ">
        <div>
            <img src="{{ post.author_profile.image.url }}" alt="" class="object-cover w-12 h-12 rounded-full">
        </div>
        <div class="flex flex-col justify-around item-center">
            <p class="text-sm text-gray-600"> By: {{post.author | title}}</p>
            <p class="text-sm text-gray-600">{{post.date_published}}</p>
        </div>
    </div>
    <div>
        <h3 class="text-black text-left font-bold text-sm">{{post.title|upper}}</h3>
    </div>
    <div class="mt-8">
        <p>{{post.body|safe }}</p>
    </div>
    <hr>
    <div class="flex flex-col justify-start item-start ">
        <h1 class="text-xl font-bold text-gray-600 mb-3 font-sarif text-left">Comments</h1>
        <div>
            <form method="post" action="{% url 'comment' post.id %}" class="w-2/6 flex justify-start item-start flex-col gap-2 ">
                {% csrf_token %}
                {{form |crispy }}
                <div class="mt-4 flex  ">
                    <button class="bg-green-500 hover:bg-green-700 text-white text-sm font-bold  py-2 w-1/4 rounded-lg ">
                        comment
                    </button>
                </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="flex flex-col justify-start">
        <h2 class="text-gray-600 text-lg text-left mb-4">Total Comments:{{comments|length}}</h2>
        {% for comment in comments %}
        <div class="flex flex-col justify-start mb-4 w-2/4 border-gray-300 border-2 rounded ">
            <div class="flex gap-3 bg-gray-400 rounded-tr rounded-tl justify-start item-center pl-4 pt-2">
                <img src="{% static '/image/user.png' %}" alt="" class=" w-4 h-4 ">
                <p class="text-gray-600 text-left text-black ">{{comment.name|upper}}</p>
            </div>
            <div class="flex gap-3 pl-4">
                <p class="text-gray-600 text-lg text-left  w-80 break-words">{{comment.comments}}</p>
            </div>
            <div class="flex gap-3 mt-4 pl-4">
                <img src="{% static '/image/clock.png' %}" alt="" class="w-4 h-4">
                <p class="text-gray-600 text-sm text-left ">{{comment.date_commment}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}